<div class="header">
  <mat-toolbar color="primary">
    <span><button  mat-button mat-raised-button color="accent" (click)="clearHistory()">New Game</button></span>
    <span class="example-spacer"></span>
    <span><button  mat-button mat-raised-button color="{{editButtonColor()}}" (click)="editNames =! editNames">
      <span *ngIf="!editNames">Edit</span>
      <span *ngIf="editNames" class="blackText">Save</span>
    </button></span>
  </mat-toolbar>
</div>
<div class="container main">
  <!--Table-->
  <table class="table table-hover table-responsive">

      <!--Table head-->
      <thead class="noselect">
          <tr>
              <th></th>
              <ng-container *ngFor="let player of players">
                <th *ngIf="player.score != 0">
                <mat-form-field *ngIf="editNames">
                  <input matInput (blur)="onBlurMethod()" [(ngModel)]="player.name">
                </mat-form-field>
                <span *ngIf="!editNames">{{player.name}}</span></th>
              </ng-container>
          </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody (dblclick)="showScores = !showScores" class="noselect">
        <ng-container *ngIf="showScores">
          <tr *ngFor="let screenShot of screenShots;let i = index">
              <th>{{i}}</th>
              <ng-container *ngFor="let column of screenShots[screenShots.length -1];let x = index">
                <td *ngIf="players[x].score != 0">{{column}}</td>
              </ng-container>
          </tr>
        </ng-container>
        <ng-container *ngIf="!showScores">
          <tr>
              <th scope="row">{{screenShots.length -1}}</th>
              <ng-container *ngFor="let column of screenShots[screenShots.length -1];let i = index">
                <td *ngIf="players[i].score != 0">{{column}}</td>
              </ng-container>
          </tr>
         </ng-container> 
      </tbody>
      <!--Table body-->

      <!--Table foot-->
      <tfoot class="primary noselect">
          <tr>
              <th></th>
              <ng-container *ngFor="let player of players">
                <th *ngIf="player.score != 0">
                  <app-player [player]="player"></app-player>
                </th>
              </ng-container>
          </tr>
      </tfoot>
      <!--Table foot-->
  </table>
</div>
  <!--Table-->
<div class="container"  *ngIf="show" style="margin-bottom: 20px">
  <mat-form-field class="example-half-width">
    <input matInput type="string" placeholder="PlayerName" [(ngModel)]="playerName" #myInput>
  </mat-form-field>
  <button *ngIf="show" class="example-half-width" mat-button mat-raised-button color="accent"(click)="addPlayer()">save</button>
</div>
<div *ngIf="!show" class="container" style="margin-bottom: 120px">
  <div class="controllers">
    <button *ngIf="!(screenShots.length >= 2)" mat-button mat-raised-button color="primary"(click)="show=true">add player</button>
  </div>
</div>

<button mat-fab class="addButton" *ngIf="players.length >= 2" (click)="updateScore()" disabled="{{!playerService.scoreValid}}">
    +
</button>
