.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.newGame button,.controllers button{
	width: 100%;
}
.controllers button{
	margin-bottom: 10px;
}

.newGame button{
	margin-top: 10px;
}
.container-table{
	margin: 10px auto;
}
table{
	margin-top: 20px;
}
.example-half-width{
	width: 100%;
}

.addButton{
	z-index: 5000;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.header{
	position: fixed;
	z-index: 10000;
	width: 100%;
	top: 0px;
	left: 0px;
}

.main{
	z-index: 200;
	margin-top: 80px;
}
/*td,th{
	overflow: hidden;
	flex: 1 1;
}

tbody,tfoot,thead{
	display: flex;
	justify-content: space-between;
	width: 100%;
}*/