<div class="header">
  <mat-toolbar color="primary">
  <span><button  mat-button mat-raised-button color="accent" (click)="clearHistory()">New Game</button></span>
</mat-toolbar>
</div>
<div class="container main">
  <!--Table-->
  <table class="table table-hover table-responsive">

      <!--Table head-->
      <thead>
          <tr>
              <th></th>
              <th *ngFor="let player of players">{{player.name}}</th>
          </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
          <tr *ngFor="let screenShot of screenShots;let i = index">
              <th scope="row">{{i}}</th>
              <td *ngFor="let column of screenShot">{{column}}</td>
          </tr>
          
      </tbody>
      <!--Table body-->

      <!--Table foot-->
      <tfoot class="primary">
          <tr>
              <th></th>
              <th *ngFor="let player of players">
                <app-player [player]="player"></app-player>
              </th>
          </tr>
      </tfoot>
      <!--Table foot-->
  </table>
</div>
  <!--Table-->
<div class="container"  *ngIf="show" style="margin-bottom: 20px">
  <mat-form-field class="example-half-width">
    <input matInput type="string" placeholder="PlayerName" [(ngModel)]="playerName" #myInput>
  </mat-form-field>
  <button *ngIf="show" class="example-half-width" mat-button mat-raised-button color="accent"(click)="addPlayer()">save</button>
</div>
<div *ngIf="!show" class="container" style="margin-bottom: 120px">
  <div class="controllers">
    <button *ngIf="!(screenShots.length >= 2)" mat-button mat-raised-button color="primary"(click)="show=true">add player</button>
  </div>
</div>

<button mat-fab class="addButton" *ngIf="players.length >= 2" (click)="updateScore()">
    +
</button>
